.home {
  width: 100%;
  position: relative;
  min-height: 800px;
  top: 50px;
  margin-bottom: 50px;
}

.home .grayscale-container {
  ul {
    @extend %ul;
    width: 400px;

    li {
      width: 100%;
      height: 4px;
      position: relative;
      text-align: center;
      border-bottom: 1px $medium-gray solid;
      cursor: pointer;
      @include transition(height 0.2s);
      @include border-box();
    }

    li:hover,
    li.selected {
      height: 30px;
    }

    li .bar {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    li p {
      display: none;
    }

    li:hover p,
    li.selected p {
      line-height: 30px;
      vertical-align: middle;
      position: relative;
      display: block;
    }
  }
}