.home {
  width: 100%;
  position: relative;
  min-height: 800px;
  top: 50px;
  margin-bottom: 50px;
}

.home .grayscale-container {
  ul {
    @extend %ul;
    width: 400px;

    li {
      width: 100%;
      height: 4px;
      position: relative;
      text-align: center;
      border-bottom: 1px $medium-gray solid;
      cursor: pointer;
      @include transition(height 0.2s);
      @include border-box();
    }

    li:hover,
    li.selected {
      height: 30px;
    }

    li .bar {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    li p {
      display: none;
    }

    li:hover p,
    li.selected p {
      line-height: 30px;
      vertical-align: middle;
      position: relative;
      display: block;
    }
  }
}

.home .pie-chart-container {
  .grayscale-group {
    // normal styles
    cursor: pointer;

    .hit-area {
      fill: #7ab8d3;
    }

    .border {
      stroke: #92c1d5;
      stroke-width: 1;
    }

    .selected-area, text {
      opacity: 0;
      @include transition(opacity 0.1s);
    }

    text {
      font-size: 12px;
      fill: #333;
      text-anchor: middle;
    }

    // hover styles
    &:hover .selected-area,
    &:hover text {
      opacity: 1;
    }
  }
}