// Base font size in used in _mixins.scss /////////////////
$base-root-size: 16;

// This is only used by footer on all screen sizes
$font-size-xs: 14;

// small screen
$font-size-s: 14;
$font-size-m: 18;
$font-size-l: 24;
$font-size-xl: 36;

// medium screem
$font-size-s-medium: 16;
$font-size-m-medium: 22;
$font-size-l-medium: 28;
$font-size-xl-medium: 42;

// large screen
$font-size-s-large: 16;
$font-size-m-large: 24;
$font-size-l-large: 32;
$font-size-xl-large: 48;

// Colors //////////////////////////////////
$white: #fff;
$light-gray: #f6f6f6;
$medium-gray: #e7e7e7;
$dark-gray: #2d2d2d;
$black: #222;