/* Defaults
   ========================================================================== */

html,
body {
  @include font-regular();
  width: 100%;
}

body {
  @include breakpoint(sm) {
    border-left: $genre-container-width solid $purple;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font-bold();
}

p {
  @include font-regular();
}
