// fonts
@mixin font-light() {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
}
@mixin font-regular() {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}
@mixin font-bold() {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

// opacity setting
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// px to rem sizing with px fallout
@mixin font-size($size, $context : $base-root-size) {
  font-size: $size + px;
  font-size: ($size / $base-root-size) + rem;
}

// box Sizing
@mixin box-sizing ($type : border-box) {
  // content-box | border-box | inherit
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}
@mixin border-box() {
  @include box-sizing(border-box);
}

// reset border, margin, and padding
@mixin box-reset() {
  margin: 0;
  padding: 0;
  border: 0 none;
}

// vertical align (http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/)
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// bootstrap mobile first media queries
// bootstrap variables
// $screen-xs: 480px
// $screen-sm: 768px
// $screen-md: 992px
// $screen-lg: 1200px
@mixin breakpoint($point) {
  @if $point == sm {
    @media (min-width: 768px)  { @content; }
  }
  @else if $point == md {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == lg {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point { // allows custom breakpoints
    @media (min-width: $point) { @content; }
  }
}

// use background image as img
@mixin bg-img($size : cover) {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size;
}

// css transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

// css transform
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}