.summary-container .summary-list {
  overflow-x: hidden; // avoid horizontal scrollbar during transition animation
}

.summary-container .summary-list .summary-list-item {
  $item-height: 40px;
  min-height: $item-height;
  margin-top: $spacing-xl;

  // mn-animate
  &.ng-enter {
    transition: width 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    width: 0;
  }
  &.ng-enter-active {
    width: 100%;
  }

  // item-info-wrapper
  .item-info-wrapper {
    margin: 0;
    background-color: $gray;
    height: $item-height;
    line-height: $item-height;
    vertical-align: middle;
    color: $gray-lighter;
    white-space: nowrap;
    position: relative;
    cursor: pointer;

    margin-bottom: $spacing-s;
  }

  .item-info-wrapper .item-info {
    display: inline-block;
    padding-left: $spacing-s;
    height: $item-height;
  }

  .item-info-wrapper .item-info.percent {
    width: 70px;
    border-right: 2px solid $gray-lighter;
  }

  .item-info-wrapper .item-info.more {
    width: $item-height + $spacing-xs;
    border-left: $spacing-xs solid $white;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 0;
  }
  .item-info-wrapper .item-info.more::before {
    content: "+";
    font-size: 24px;
  }
  .item-info-wrapper.is-apps-visible .item-info.more::before {
    content: "-";
  }

  // bar
  .bar-wrapper .bar {
    height: $item-height;
    border-radius: 0 $item-height/2 $item-height/2 0;
    min-width: $item-height/2;

    $border-style: 2px $gray-lighter solid;
    border-top: $border-style;
    border-right: $border-style;
    border-bottom: $border-style;
    width: 0;
  }

  // hover state
  .item-info-wrapper:hover {
    background-color: $gray-dark;

    .item-info.more {
      width: 100%;
      background-color: $gray-dark;
      border: none;
    }

    .item-info.more::before {
      content: "CLICK TO SEE APP ICONS";
      font-size: 12px;
    }
  }

  .item-info-wrapper.is-apps-visible:hover {
    .item-info.more::before {
      content: "CLICK TO CLOSE APP ICONS";
    }
  }
}

.summary-container .summary-list .summary-list-item {
  $item-height: 40px;

  // item-app-list
  .item-app-list {
    margin-top: $spacing-s;
  }

  .item-app-list .item-app {
    width: $item-height;
    height: $item-height;
    display: inline-block;
    margin-right: $spacing-xs;
    margin-bottom: $spacing-m;
    cursor: pointer;
    vertical-align: top;

    // ng-animate
    &.ng-enter {
      transition: 0.3s linear opacity;
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1;
    }
  }

  .item-app-list .item-app .app-icon {
    width: $item-height;
    height: $item-height;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: $border-radius;
    overflow: hidden;
    cursor: pointer;

    .hover-icon { display: none; }
  }

  .item-app-list .item-app  .selected-icon { display: none; }

  .item-app-list .item-app .app-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $app-detail-wrapper;
    padding: $spacing-l;
    padding-top: $genre-title-height + $spacing-l;
    background-color: rgba(0,0,0,0.5);
    overflow-y: auto;

    display: none;
  }

  .item-app-list .item-app.selected .app-detail {
    display: block;
  }

  .item-app-list .item-app .app-detail a { text-decoration: underline; }

  .item-app-list .item-app .app-detail-inner-wrapper {
    position: relative;
    background-color: $white;
    overflow-x: hidden;
    min-height: 100%;
    padding: $spacing-m;
    padding-right: $spacing-m + 40px;
    border-radius: $border-radius;
  }

  .item-app-list .item-app .app-detail-inner-wrapper .close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: $spacing-m;
    right: $spacing-m;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }
}

.summary-container .summary-list .summary-list-item {
  $left-wrapper-width: 200px;
  $item-height: 40px;
  $detail-margin-top: 8px;
  $detail-height: 125px;

  @include breakpoint(sm) {
    @extend %clearfix;
    overflow: hidden;

    .left-wrapper {
      width: $left-wrapper-width;
      float: left;
    }

    .right-wrapper {
      margin-left: $left-wrapper-width + $spacing-m;

      position: relative; // for .app-detail placement
    }

    // item app list /////////////////////////
    .item-app-list .item-app {
      margin-bottom: $spacing-m;

      .app-detail-inner-wrapper {
        position: static;
        background-color: transparent;
        min-height: none;
        padding: 0;
      }

      .app-detail-text {
        color: $white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .app-detail-text a { color: $white; }

      .close-btn { display: none; }
    }

    // hover state
    .item-app-list .item-app:hover {
      .app-icon {
        background-image: none !important;
        background-color: $purple-light !important;
      }

      .app-icon .hover-icon {
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: $item-height;
        vertical-align: middle;
        color: $white;
      }
    }

    // selected state
    .item-app-list .item-app.selected {
      height: $item-height + $detail-height + $detail-margin-top;

      .app-icon { display: none; }

      .selected-icon {
        display: block;
        background-color: $purple-light;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: $item-height;
        vertical-align: middle;
        color: $white;
        height: $item-height + $detail-margin-top * 2;
        background-color: $purple-light;
        border-radius: $border-radius $border-radius 0 0;
      }

      .app-detail {
        cursor: default;
        border-radius: $border-radius;
        padding: $spacing-m;
        background-color: $purple-light;
        position: absolute;
        left: 0;
        top: auto;
        width: 100%;
        height: $detail-height;
        margin-top: -$detail-margin-top;
      }
    }
  }
}