.main-page-wrapper .main-header {
  height: $main-header-height;

  .header-title {
    margin: 0;
    line-height: $main-header-height;
    vertical-align: middle;
  }

  .title-icon {
    margin-right: $spacing-s;
  }
}