.genres-container {
  background-color: $purple;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: $genre-title-height;
  max-height: 100%;
  overflow-y: auto;
  z-index: $z-index-genre-list;

  .wide-screen {
    display: none;
  }

  @include breakpoint(sm) {
    position: absolute;
    width: $genre-container-width;
    max-height: none;

    .narrow-screen { display: none; }
    .wide-screen { display: block; }
  }
}

.genres-container .genres-title-container {
  // block scope variables
  $title-height: $genre-title-height;
  $title-line-height: $genre-title-height - 3px;

  height: $title-height;
  padding-left: $spacing-s;
  color: $white;
  background-color: $purple-dark;

  &.narrow-screen {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $z-index-genre-title;
  }

  &.wide-screen {
    position: relative;
  }

  &.narrow-screen .collapse-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: $title-height;
    line-height: $title-line-height;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
  }

  .title {
    padding: 0;
    margin: 0;
    height: $title-height;
    line-height: $title-line-height;
    vertical-align: middle;
  }
}

.genres-container ul.genre-list {
  padding: $spacing-s $spacing-m $spacing-s 0;
  margin: 0;

  &.narrow-screen {
    margin-top: $genre-title-height;
  }

  // list item responsive styles
  &.narrow-screen li {
    padding: $spacing-s $spacing-m;
  }

  &.wide-screen li {
    padding: $spacing-xs $spacing-m;
  }

  // list item common styles for all devices
  li {
    color: $gray-lighter;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.2s;

    &:hover {
      color: $gray-lightest;
      background-color: $purple-darker;
    }

    &.selected {
      color: $gray-lightest;
      background-color: $purple-light;
    }
  }
}