.genres-container {
  background-color: $purple;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .wide-screen {
    display: none;
  }

  @include breakpoint(sm) {
    width: $genre-container-width;
    .narrow-screen { display: none; }
    .wide-screen { display: block; }
  }
}

.genres-container .genres-title-container {
  // block scope variables
  $title-height: 50px;
  $title-line-height: 47px;

  height: $title-height;
  padding-left: $spacing-s;
  color: $white;

  &.narrow-screen {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $purple;
    z-index: $mobile-genre-title;
  }

  &.narrow-screen .collapse-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: $title-height;
    line-height: $title-line-height;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
  }

  &.wide-screen {
    position: relative;
  }

  .title {
    padding: 0;
    margin: 0;
    height: $title-height;
    line-height: $title-line-height;
    vertical-align: middle;
  }

  & + ul.genre-list.narrow-screen {
    margin-top: $title-height;
  }
}

.genres-container ul.genre-list {
  padding: $spacing-s $spacing-m $spacing-s 0;
  margin: 0;

  // list item responsive styles
  &.narrow-screen li {
    padding: $spacing-s $spacing-m;
  }

  &.wide-screen li {
    padding: $spacing-xs $spacing-m;
  }

  // list item common styles for all devices
  li {
    color: $gray-lighter;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.2s;

    &:hover {
      color: $gray-lightest;
      background-color: $purple-darker;
    }

    &.selected {
      color: $gray-lightest;
      background-color: $purple-light;
    }
  }
}