.main-footer {
  height: $main-footer-height;
  line-height: $main-footer-height;
  vertical-align: middle;
  margin-top: -$main-footer-height;

  p { padding: 0; margin: 0}

  @include breakpoint(sm) {
    border-left: $left-inner-wrapper-width solid $purple;
  }
}