.summary-container .summary-list .summary-list-item {
  $item-height: 40px;
  min-height: $item-height;
  margin-top: $spacing-xl;

  // item-info-wrapper
  .item-info-wrapper {
    margin: 0;
    background-color: $gray;
    height: $item-height;
    line-height: $item-height;
    vertical-align: middle;
    color: $gray-lighter;
    white-space: nowrap;
    position: relative;
    cursor: pointer;

    margin-bottom: $spacing-s;
  }

  .item-info-wrapper .item-info {
    display: inline-block;
    padding-left: $spacing-s;
    height: $item-height;
  }

  .item-info-wrapper .item-info.percent {
    width: 50px;
    border-right: 2px solid $gray-lighter;
  }

  .item-info-wrapper .item-info.more {
    width: $item-height + $spacing-xs;
    border-left: $spacing-xs solid $white;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 0;
  }
  .item-info-wrapper .item-info.more::before {
    content: "+";
    font-size: 24px;
  }
  .item-info-wrapper.is-apps-visible .item-info.more::before {
    content: "-";
  }

  // bar
  .bar {
    height: $item-height;
    border-radius: 0 $item-height/2 $item-height/2 0;

    $border-style: 2px $gray-lighter solid;
    border-top: $border-style;
    border-right: $border-style;
    border-bottom: $border-style;
  }

  // hover state
  .item-info-wrapper:hover {
    background-color: $gray-dark;

    .item-info.more {
      width: 100%;
      background-color: $gray-dark;
      border: none;
    }

    .item-info.more::before {
      content: "CLICK TO SEE APP ICONS";
      font-size: 12px;
    }

    &+.bar-wrapper .bar {
      $border-style: 2px $gray-dark solid;
      border-top: $border-style;
      border-right: $border-style;
      border-bottom: $border-style;
    }
  }

  .item-info-wrapper.is-apps-visible:hover {
    .item-info.more::before {
      content: "CLICK TO CLOSE APP ICONS";
    }
  }
}

.summary-container .summary-list .summary-list-item {
  $item-height: 40px;

  // item-app-list
  .item-app-list {
    margin-top: $spacing-s;
  }

  .item-app-list .item-app {
    width: $item-height;
    height: $item-height;
    display: inline-block;
    margin-right: $spacing-xs;
    margin-bottom: $spacing-m;
    cursor: pointer;
    vertical-align: top;

    /*
    &:hover, &.selected {
      position: relative;
      overflow: visible;

      &::before {
        content: "";
        margin-top: 6px;
        height: 6px;
        width: 100%;
        background-color: $gray-dark;
        border-radius: 3px;
      }
    }*/
  }

  .item-app-list .item-app .app-icon {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }

  .item-app-list .item-app .app-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $app-detail-wrapper;
    padding: $spacing-l;
    padding-top: $genre-title-height + $spacing-l;
    background-color: rgba(0,0,0,0.5);
    overflow-y: auto;

    display: none;
  }

  .item-app-list .item-app.selected .app-detail {
    display: block;
  }

  .item-app-list .item-app .app-detail a { text-decoration: underline; }

  .item-app-list .item-app .app-detail-inner-wrapper {
    position: relative;
    background-color: $white;
    overflow-x: hidden;
    min-height: 100%;
    padding: $spacing-m;
    padding-right: $spacing-m + 40px;
  }

  .item-app-list .item-app .app-detail-inner-wrapper .close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: $spacing-m;
    right: $spacing-m;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }
}

.summary-container .summary-list .summary-list-item {
  $item-height: 40px;

  @include breakpoint(sm) {
    $left-wrapper-width: 200px;

    @extend %clearfix;
    overflow: hidden;

    .left-wrapper {
      width: $left-wrapper-width;
      float: left;
    }

    .right-wrapper {
      margin-left: $left-wrapper-width + $spacing-m;

      position: relative;
    }

    .item-app-list .item-app {
      margin-bottom: $spacing-m;
      overflow: visible;
    }

    .item-app-list .item-app:hover::after,
    .item-app-list .item-app.selected::after {
      content: "";
      display: block;
      margin-top: 6px;
      height: 6px;
      width: 100%;
      background-color: $gray-dark;
      border-radius: 3px;
    }

    .item-app-list .item-app.selected {
      height: 200px;
    }

    .item-app-list .item-app .app-detail {
      position: absolute;
      left: 0;
      width: 100%;
      margin-top: 60px;
      border: 2px red solid;
    }

    .item-app-list .item-app .app-detail-inner-wrapper {
      position: static;
      background-color: transparent;
      min-height: none;
      padding: 0;
    }

    .item-app-list .item-app .app-detail .close-btn {
      display: none;
    }
  }
}