// TODO: remove //////////////////////////////////
$light-gray: lighten(#000, 90%);
$medium-gray: #e7e7e7;
$dark-gray: #2d2d2d;
$black: #111;

// Grayscale ////////////////////////////////
// bootstrap grays
$white: #FFF;
$black: #000;
$gray-darker: lighten(#000, 13.5%); // #222
$gray-dark: lighten(#000, 20%);   // #333
$gray: lighten(#000, 33.5%); // #555
$gray-light: lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 80%);
$gray-lightest: lighten(#000, 93.5%); // #eee

// Colors //////////////////////////////////
// Borrowed from slack : http://slackthemes.net/#/brinjal
$purple-darker: #3E313C;
$purple-dark: #452842;
$purple: #4F2F4C;
$purple-light: #8C5888;
$green: #00FFB7;
$orange-red: #DE4C0D;

// Sapcing //////////////////////////////////
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 15px;
$spacing-l: 20px;
$spacing-xl: 30px;